<ion-content>
    <br>
    <br>
    <ion-toolbar>
        <ion-slides>
            <ion-slide>
                <img src="../../assets/img/Slide-5-neu.jpg" />
            </ion-slide>
            <ion-slide>
                <img src="../../assets/img/Spargelhof_Hofladen_Gemüse-1920x1280-c-f.jpg">
            </ion-slide>
        </ion-slides>
    </ion-toolbar>

    <ion-searchbar debounce="500"></ion-searchbar>
    <ion-card>
        <img src="../../assets/img/brot-backen-lutz-geissler-100-resimage_v-variantBig16x9_w-1280.jpg">
        <ion-card-subtitle> 4.99 CHF </ion-card-subtitle>
        <ion-card-title> Brot</ion-card-title>
    </ion-card>

    <div>
        <ion-card>
            <img src="../../assets/img/1592214997.jpg">
            <ion-card-subtitle>65.55 CHF</ion-card-subtitle>
            <ion-card-title>Holzdeko</ion-card-title>
        </ion-card>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon md="logo-apple" ios="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button color="light" [routerLink]="['/home']">
                <ion-icon name="map-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="dark" [routerLink]="['/stores']">
                <ion-icon name="bag"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" [routerLink]="['/user']">
                <ion-icon name="person-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>